.navbar-default {
  background-color: #331481;
  border-color: #8479c7;
  background-image: none;
}
.navbar-default .navbar-brand {
  color: #c5c3d2;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2837a7;
}
.navbar-default .navbar-text {
  color: #c5c3d2;
}
.navbar-default .navbar-nav > li > a {
  color: #c5c3d2;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2837a7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2837a7;
  background-color: #8479c7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2837a7;
  background-color: #8479c7;
}
.navbar-default .navbar-toggle {
  border-color: #8479c7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #8479c7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #c5c3d2;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #c5c3d2;
}
.navbar-default .navbar-link {
  color: #c5c3d2;
}
.navbar-default .navbar-link:hover {
  color: #2837a7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #c5c3d2;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2837a7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2837a7;
    background-color: #8479c7;
  }
}